.footer {
  .theme(@basic-grey);
}

.footer__announcement {
  .caps();
  .oswald();
  .theme(transparent, @special-dark-grey-3);
  .font(16px; 18px);
  @media (min-width: @tablet-width) {
    .font(20px; 21px);
  }
}

.footer__contacts {
  .theme(@basic-grey);
  @media (min-width: @desktop-width) {
    .theme(white);
  }
  &--index {
    .theme(white);
  }
}

.footer__contacts-container {
  display: flex;
  justify-content: space-between;
}

.footer__social {
  display: flex;
  width: 130px;
  justify-content: space-between;
}

.footer__social-element {
  &--vk::before {
    content: url("../img/icon-vk.svg");
  }
  &--insta::before {
    content: url("../img/icon-insta.svg");
  }
  &--fb::before {
    content: url("../img/icon-fb.svg");
  }
}

.footer__html-link {
  .theme(transparent);
  .font(16px; 18px);
}
