.form__description {
  .caps();
  .oswald();
  .black();
  .font(14px; 18px);
  @media (min-width: @tablet-width) {
    .font(20px; 30px);
  }
}

.form__basics-radio-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__div--basics {
  @media (min-width: @desktop-width) {
    width: 570px;
    display: flex;
    flex-wrap: wrap;
  }
}

.form__div--radio {
  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.form__extras-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__name {
  .oswald();
  .theme(white, black);
  .font(24px; 26px);
  @media (min-width: @tablet-width) {
    .font(36px; 36px);
  }
}

.form__text-label {
  .caps();
  .oswald();
  .font(16px; 18px);
  @media (min-width: @tablet-width) {
    .font(20px; 30px);
  }
  @media (min-width: @desktop-width) {
    margin-right: 13px;
  }
}

.form__text-input {
  .caps();
  .oswald();
  .black();
  .font(16px; 18px);
  @media (min-width: @tablet-width) {
    .font(20px; 30px);
  }
  &::placeholder {
    color: @special-dark-grey;
  }
}

.form__radio-label {
  .caps();
  .oswald();
  color: @special-dark-grey-2;
  .font(16px; 18px);
  @media (min-width: @tablet-width) {
    .font(20px; 30px);
  }
}

.form__checkbox-label {
  .caps();
  .oswald();
  .black();
  .font(16px; 18px);
  @media (min-width: @tablet-width) {
    margin-left: 19px;
    .font(20px; 30px);
  }
}

.form__requirement {
  .theme(transparent; black);
}
