.how-it-works {
  margin-bottom: 39px;
  @media (min-width: @tablet-width) {
    margin-bottom: 103px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 25px;
  }
}

.how-it-works__headline {
  margin-top: 27px;
  margin-bottom: 30px;
  @media (min-width: @tablet-width) {
    margin-top: 44px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 42px;
  }
}

.how-it-works__list {
  margin-top: 44px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  @media (min-width: @tablet-width) {
    margin-right: 78px;
    margin-top: 77px;
    grid-template-columns: 1fr 1fr;
    column-gap: 137px;
    row-gap: 139px;
  }
  @media (min-width: @desktop-width) {
    margin-right: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.how-it-works__option {
  &--leaf::before {
    display: block;
    float: left;
    content: "";
    .size(60px; 60px);
    margin-right: 20px;
    transform: translateY(-4px);
    @media (min-width: @tablet-width) {
      float: none;
      .size(80px; 80px);
      margin-bottom: 26px;
    }
    background: url("../img/icon-leaf.svg") no-repeat center, @basic-green;
  }
  &--tub::before {
    display: block;
    float: left;
    content: "";
    .size(60px; 60px);
    margin-right: 20px;
    transform: translateY(-4px);
    @media (min-width: @tablet-width) {
      float: none;
      .size(80px; 80px);
      margin-bottom: 26px;
    }
    background: url("../img/icon-tub.svg") no-repeat center, @basic-green;
  }
  &--eat::before {
    display: block;
    float: left;
    content: "";
    .size(60px; 60px);
    margin-right: 20px;
    transform: translateY(-4px);
    @media (min-width: @tablet-width) {
      float: none;
      .size(80px; 80px);
      margin-bottom: 26px;
    }
    background: url("../img/icon-eat.svg") no-repeat center, @basic-green;
  }
  &--alarm::before {
    display: block;
    float: left;
    content: "";
    .size(60px; 60px);
    margin-right: 20px;
    transform: translateY(-4px);
    @media (min-width: @tablet-width) {
      float: none;
      .size(80px; 80px);
      margin-bottom: 26px;
    }
    background: url("../img/icon-alarm.svg") no-repeat center, @basic-green;
  }
  @media (min-width: @tablet-width) {
    &--leaf::after {
      content: "1";
      .font(280px; 280px);
      .oswald();
      color: @basic-grey;
      position: absolute;
      display: block;
      z-index: -1;
      margin-left: 119px;
      margin-top: -223px;
    }
    &--tub::after {
      content: "2";
      .font(280px; 280px);
      .oswald();
      color: @basic-grey;
      position: absolute;
      display: block;
      z-index: -1;
      margin-left: 112px;
      margin-top: -223px;
    }
    &--eat::after {
      content: "3";
      .font(280px; 280px);
      .oswald();
      color: @basic-grey;
      position: absolute;
      display: block;
      z-index: -1;
      margin-left: 114px;
      margin-top: -223px;
    }
    &--alarm::after {
      content: "4";
      .font(280px; 280px);
      .oswald();
      color: @basic-grey;
      position: absolute;
      display: block;
      z-index: -1;
      margin-left: 114px;
      margin-top: -223px;
    }
  }
}
