.live-example {
  .theme(@basic-grey);
}

.live-example__value {
  .caps();
  .oswald();
  .black();
  .size(124px; 56px);
  .font(24px; 24px);
  @media (min-width: @tablet-width) {
    .size(162px; 72px);
    .font(30px; 30px);
  }
  text-align: center;
  border: 1px solid @special-grey;
}

.live-example__stats {
  display: flex;
  justify-content: space-around;
}

.live-example__stat {
  .font(12px; 12px);
  @media (min-width: @tablet-width) {
    .font(14px; 14px);
  }
  text-align: center;
  .theme(@basic-grey);
}

.live-example__cost {
  .caps();
  .oswald();
  .black();
}

.live-example__before-after {
  .caps();
  .oswald();
  .font(16px; 18px);
  @media (min-width: @tablet-width) {
    .font(20px; 21px);
  }
  .theme(transparent, black);
  .no-border();
  @media (min-width: @tablet-width) {
    border-bottom: 1px dotted @special-grey;
  }
}
