.program-options__list {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.program-options__item {
  .theme(@basic-grey);
  margin: 20px;
  @media (min-width: @tablet-width) {
    margin: 30px;
  }
  @media (min-width: @desktop-width) {
    margin: 80px;
  }
}

.program-options__function {
  .caps();
  .oswald();
  .black();
  .font(24px; 24px);
  @media (max-width: @tablet-width - 1px) {
    &--slim::before {
      content: url("../img/cat-slim.svg");
    }
    &--pro::before {
      content: url("../img/cat-fit.svg");
    }
  }
  @media (min-width: @tablet-width) {
    .font(36px; 36px);
  }
  @media (min-width: @desktop-width) {
    &--slim::before {
      content: url("../img/cat-slim.svg");
    }
    &--pro::before {
      content: url("../img/cat-fit.svg");
    }
  }
}

.program-options__description {
  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1px) {
    &--slim::after {
      content: url("../img/cat-slim.svg");
    }
    &--pro::after {
      content: url("../img/cat-fit.svg");
    }
  }
}

.program-options__link {
  .caps();
  .oswald();
  .black();
  .font(16px; 18px);
  @media (min-width: @tablet-width) {
    .font(20px; 21px);
  }
}
