.theme(@background; @text: black) {
  color: @text;
  background: @background;
}

.caps() {
  text-transform: uppercase;
}

.no-border() {
  border: none;
}

.font(@font-size; @line-height) {
  font-weight: 400;
  font-size: @font-size;
  line-height: @line-height;
}

.font(medium; @font-size; @line-height) {
  font-weight: 500;
  font-size: @font-size;
  line-height: @line-height;
}

.size(@width; @height) {
  width: @width;
  height: @height;
}